
body {
    background-image: url(../img/tanBackground.jpg);
}

.wrapper{
    height: 1000px;
    width: 1400px;
    left: 0;
    right: 0;
    margin: auto;

}

p {
    color: white;
}

.topNav {
    position: relative;
    width: 220px;
    height: 150px;
    margin: 0px;
    top: 100px;
    left: 10px;
}

#homeLink {
    content: url(../img/peruHome.png);
    width: 220px;
    height: 50px;
}

#homeLink:hover {
    content: url(../img/peruHome.png);
    width: 240px;
    height: 60px;

}

#aboutLink {
    content: url(../img/peruAbout.png);
    width: 220px;
    height: 50px;
}

#aboutLink:hover {
    content: url(../img/peruAbout.png);
    width: 240px;
    height: 60px;

}

.main {
    position: relative;
    border: solid black;
    width: 750px;
    height: 460px;
    top: -150px;
    box-shadow: 10px 10px 5px #888888;
    background-image: url(../img/machuPicchu.jpg);
    background-size: 750px 460px;
    background-repeat: no-repeat;
    left: 0px;
    right: 0px;
    margin: auto;
}

.bottomNav {
    position: relative;
    bottom: 100px;
    left: 0;
    right: 0;
    width: auto;
    height: auto
    margin: auto;
    top: -130px;
    text-align: center;

}

.button {
    position: relative;
    border-radius: 8px;
    background-color: limegreen;
    font-family: "Comic Sans MS", chalkboard, ChalkboardSE-Regular,  Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    font-size: large;
    outline: none;
    height: 70px;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;

}

.button:hover {
    background-color: lightgreen;
    color: black;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

input[type="text"]{
    border-radius: 10px;
    border: solid;
    width: 50px;
    height: 50px;
    font-family: "Comic Sans MS", chalkboard, ChalkboardSE-Regular,  Helvetica, sans-serif;
    font-size: large;

}
input:focus{
    outline: none;
}





