#llamaPics{
    width: 100%;
    height: auto;
    border: solid black;
}

#factsMain{
    opacity: 0;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}
#factsBottomNav{
    opacity: 0;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
